CPT102/1week/ArrayListInterface/target
CPT102/2week/MoreCollections/target
CPT102/3week/MoreCollections/target
CPT102/5week/MoreCollections/target
CPT102/6week/8Lect/\
CPT102/6week/8Lect/\
CPT102/6week/BinaryTree/bin
CPT102/6week/BinaryTree/obj
CPT102/6week/BinaryTree/bin
CPT102/6week/BinaryTree/.swp
CPT102/8week/LinkedListCS/obj
CPT102/selfstudy/MoreCollections/target

CPT205/ModelCPP/build
CPT205/04_Math_Impl/Utils/build
CPT205/04_Math_Impl/Utils/.cache
CPT205/02Labs/01Week/1pt/build
CPT205/02Labs/01Week/2pt/shit/.cache
CPT205/02Labs/01Week/2pt/shit/build
CAN201/SOCKET/TcpClient/build
CAN201/SOCKET/TcpServer/build
CPT205/01Lects/03LectSource/ModelCPP/build
INT201/3PDFs/1Week/Lecture 1.pdf:Zone.Identifier
INT201/3PDFs/1Week/Tutorial 1.pdf:Zone.Identifier
CPT205/01Lects/pdf/CPT205Lecture03_GeometricPrimitives.pdf:Zone.Identifier
CPT205/01Lects/03LectSource/DrawLine/.cache
CPT205/01Lects/03LectSource/DrawLine/build
CPT205/Assignment/ASS_COPY/.cache
CPT205/Assignment/ASS_COPY/build
CPT205/Assignment/ASS1/build/CMakeFiles
CPT205/Assignment/ASS1/.cache
CPT205/Assignment/ASS1/build
PROJ
CAN201/ASS1/__pycache__
CAN201/ASS1/file
CAN201/ASS1/log
CAN201/ASS1/client_lhx.py
CAN201/01Lects/.cache
CAN201/01Lects/fonts
CPT205/CW2/br2077_city/.cache
CPT205/CW2/br/.cache
CPT205/CW2/br/compile_commands.json
CPT205/02Labs/05lab/.nvim-tmp
CPT205/02Labs/05lab/.nvimlog
CPT205/02Labs/05lab
CPT205/02Labs/01Week/1pt/.cache/clangd/index/main.cc.CB056F7DFA172AAB.idx
CAN201/CW1/
BRAINFUCK/interpreter/target
/CPT208/dist
/CPT208/node_modules/.bin
/CPT208/node_modules/.vite/deps
/CPT208/node_modules/@babel
/CPT208/node_modules/@esbuild/linux-x64
/CPT208/node_modules/@jridgewell
/CPT208/node_modules/@rolldown/pluginutils
/CPT208/node_modules/@rollup/rollup-linux-x64-gnu
/CPT208/node_modules/@tailwindcss
/INT202/02w/codes/cpp/.cache/clangd/index
/INT202/03w/shit/.cache/clangd/index
/INT202/03w/shit/out/Debug/.cmake/api/v1
/INT202/03w/shit/out/Debug/CMakeFiles
/INT202/03w/shit/out/Debug
/INT202/BipartiteMatching/bipartite.pdf
/INT202/Cryptography/main.pdf
/INT202/Cryptography/tutorial7.pdf
/INT202/Flow/flow.pdf
/INT202/Lecture11_12_Exam_Predictions.pdf
/INT202/MST/MST.pdf
