CPT102/1week/ArrayListInterface/target
CPT102/2week/MoreCollections/target
CPT102/3week/MoreCollections/target
CPT102/5week/MoreCollections/target
CPT102/6week/8Lect/\
CPT102/6week/8Lect/\
CPT102/6week/BinaryTree/bin
CPT102/6week/BinaryTree/obj
CPT102/6week/BinaryTree/bin
CPT102/6week/BinaryTree/.swp
CPT102/8week/LinkedListCS/obj
CPT102/selfstudy/MoreCollections/target

CPT205/ModelCPP/build
CPT205/04_Math_Impl/Utils/build
CPT205/04_Math_Impl/Utils/.cache
CPT205/02Labs/01Week/1pt/build
CPT205/02Labs/01Week/2pt/shit/.cache
CPT205/02Labs/01Week/2pt/shit/build
