CPT102/1week/ArrayListInterface/target
CPT102/2week/MoreCollections/target
CPT102/3week/MoreCollections/target
CPT102/5week/MoreCollections/target
CPT102/6week/8Lect/\
CPT102/6week/8Lect/\
CPT102/6week/BinaryTree/bin
CPT102/6week/BinaryTree/obj
CPT102/6week/BinaryTree/bin
CPT102/6week/BinaryTree/.swp
CPT102/8week/LinkedListCS/obj
CPT102/selfstudy/MoreCollections/target

CPT205/ModelCPP/build
CPT205/04_Math_Impl/Utils/build
CPT205/04_Math_Impl/Utils/.cache
CPT205/02Labs/01Week/1pt/build
CPT205/02Labs/01Week/2pt/shit/.cache
CPT205/02Labs/01Week/2pt/shit/build
CAN201/SOCKET/TcpClient/build
CAN201/SOCKET/TcpServer/build
CPT205/01Lects/03LectSource/ModelCPP/build
INT201/3PDFs/1Week/Lecture 1.pdf:Zone.Identifier
INT201/3PDFs/1Week/Tutorial 1.pdf:Zone.Identifier
CPT205/01Lects/pdf/CPT205Lecture03_GeometricPrimitives.pdf:Zone.Identifier
CPT205/01Lects/03LectSource/DrawLine/.cache
CPT205/01Lects/03LectSource/DrawLine/build
CPT205/Assignment/ASS_COPY/.cache
CPT205/Assignment/ASS_COPY/build
CPT205/Assignment/ASS1/build/CMakeFiles
CPT205/Assignment/ASS1/.cache
CPT205/Assignment/ASS1/build
PROJ
CAN201/ASS1/__pycache__
CAN201/ASS1/file
CAN201/ASS1/log
CAN201/ASS1/client_lhx.py
CAN201/01Lects/.cache
CAN201/01Lects/fonts
CPT205/CW2/br2077_city/.cache
CPT205/CW2/br/.cache
CPT205/CW2/br/compile_commands.json
CPT205/02Labs/05lab/.nvim-tmp
CPT205/02Labs/05lab/.nvimlog
CPT205/02Labs/05lab
CPT205/02Labs/01Week/1pt/.cache/clangd/index/main.cc.CB056F7DFA172AAB.idx
CAN201/CW1/
